@media (min-width: 800px) {
    .loadingScreen{
        overflow: hidden;
        width:100vw;
        height:100vh;
        background-color: #00002b;
        position: relative;
        .rondLogo{
            width:10vw;
            height:10vw;
            border-radius: 100%;
            box-shadow: 0px 0px 30px black, 0px 0px 0px black, 0px 0px 0px black;
            background-color: white;
            position: absolute;
            left:45vw;
            top:38vh;
            transition-property: width, height, left, top;
            transition-duration: 0.5s;
        }
        img{
            width:8vw;
            height:8vw;
            position: absolute;
            left: 46vw;
            top: 40vh;
            opacity:1;
            border-radius:100%;
            transition-property: opacity;
            transition-duration: 0.5s;
        }

        .isFullSizeRond{
            width:200vw;
            height:200vw;
            top:-100vh;
            left:-50vw;
        }

        .isFullSizeImg{
            opacity:0;
        }
    }
}

@media (max-width: 800px) {
    .loadingScreen{
        overflow: hidden;
        width:100vw;
        height:100vh;
        background-color: #00002b;
        position: relative;
        .rondLogo{
            width:40vw;
            height:40vw;
            border-radius: 100%;
            box-shadow: 0px 0px 30px black, 0px 0px 0px black, 0px 0px 0px black;
            background-color: white;
            position: absolute;
            left: 30vw;
            top: 30vh;
            transition-property: width, height, left, top;
            transition-duration: 0.5s;
        }
        img{
            width: 25vw;
            height: 25vw;
            position: absolute;
            left: 37.5vw;
            top: 35vh;
            opacity:1;
            border-radius:100%;
            transition-property: opacity;
            transition-duration: 0.5s;
        }

        .isFullSizeRond{
            width: 250vw;
            height: 250vw;
            top: -30vh;
            left: -75vw;
        }

        .isFullSizeImg{
            opacity:0;
        }
    }
}

.logoTxt{
    position: absolute;
    top:1vh;
    left:1vh;
    align-items: center;
    color:white;
    h1,p{
        margin:0px;
        z-index: 2;
    }
    h1{
        font-family: 'Lobster', cursive;
        font-size: 3em;
        font-weight: 100;
    }
    p{
        font-family: 'Dancing Script', cursive;
        font-size: 2.5em;
    }
    img{
        position: absolute;
        z-index: 1;
        width: 15vw;
        left: -4vw;
        top: -8vw;
    }
}